@model UrlShortner.Models.EncodeUrlResponse 
<div class="text-center">

        OriginalUrl: @Html.TextBoxFor(m => m.OriginalUrl)
        <br />
        EncodedUrl: @Html.TextBoxFor(m => m.EncodedCode)

        </div>